.header-container {
  font-family: sans-serif;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid #eee;
}


.search-bar {
  display: flex;
  align-items: center;
  width: 20rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.5rem;
}

.top-bar a {
  color: gray; 
  text-decoration: none;
  margin-right: 1.5rem;
  size: 14px;
}

.top-bar .top-bar-left .home {
  color: #0A65CC;
}


.search-bar .search-icon {
  color: #0066FF;
  font-size: 1.2rem;
  
}

.search-bar {
  width: 500px;      
  height: 48px;      
  display: flex;
  align-items: center;
  background-color: white;  
  font-size: 1rem;
  border: none;
  border-color: gray;
  padding: 0 12px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.08);
  margin-right: 100px;
}

.search-bar input {
  color: black;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.1rem; 
  background: transparent;
  margin-left: 8px;
}

.auth-buttons .btn-signup {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
}

.auth-buttons .btn-signin {
  background-color: transparent;
  color: #007bff;
  border: 1px solid #007bff;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 5px;
}

.flag-icon {
  width: 24px;
  height: 24px;
  margin-left: 0.5rem;
}

.logo {
  height: 80px; 
}

.contact-info {
  color: black;
  font-size: 0.9rem;  
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 125px;
  gap: 0.5rem;
  padding-left: 0px;
}

.top-bar {
  background-color: #F1F2F4;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
  font-size: 0.9rem;
}

.top-bar .top-bar-left {
  padding-left: 45px;

}

.main-nav {
  background-color: white;
}
